

<head>
  <title>Hacked?</title>
  <meta charset="UTF-8">
  <meta name="description" content="Owned ./MrTahu">
  <meta name="keywords" content="Hacked">
  <meta name="author" content="./MrTahu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
@keyframes kedipz {0%{opacity:0}10%{opacity:1}20%{opacity:0}30%{opacity:1}40%{opacity:0}50%{opacity:1}60%{opacity:0}70%{opacity:1}80%{opacity:0}90%{opacity:1}95%{opacity:0}100%{opacity:1}}a {color:#27f6a4;text-decoration:none;}a:hover, a:active {opacity:1;animation-name:kedipz;animation-duration:0.5s}.barlink {margin-bottom:10px;}.justified {margin-top:15px;margin-bottom:20px;border-top:3px #27f6a4 solid;border-bottom:3px #27f6a4 solid;padding:5px;padding-top:10px;padding-bottom:10px;text-align: justify;-moz-text-align-last: center;text-align-last: center;width:80%;}.containerx {width: 60%;text-align: center;margin-top:15px;margin-bottom:20px;border-top:3px #27f6a4 solid;border-bottom:3px #27f6a4 solid;padding:10px;padding-top:10px;padding-bottom:10px;}.contentx {text-align: justify;}h2 {margin:0;}@media screen and (max-width: 500px) {.containerx {width: 80%;}}
body{background-color:black;font-family: 'Share Tech Mono', monospace;}
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
</style>
<body>
<center>
<br>
<br><br>
<br><br>
<br>
  <img src="https://cdnx.kincir.com/old/10-ciri-omega-male/aladdin/review-it/review-film-it-feat-1300x500.png" width="800" heigth="100"/>
  <br>
  <br>
<font size="2" family="Share Tech Mono" color="white">Hacked By ./MrTahuSumedang</font></a><br><br>
<font size="2" family="Share Tech Mono" color="#FE2D42">Keep Silence.</font></a>
<br><br>  <font size="2" family="Share Tech Mono" color="white">Greetz : Desktop77N3T | Cyberpunks | FirmanCyb#erLoly_ | xRyukZ </font>
<br><br>  <font size="2" family="Share Tech Mono" color="white">Friend's : TehTawar404 | Mr.Donut's | Mr.xBarakuda | Mr.L3gacy | 4LM05TH3V!L | XALVADOR_ </font>
<br><br>
<iframe width="1" height="0" src="https://www.youtube.com/embed/UI2WuKFX7u0?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
</center>
</body>