a{
  text-decoration: none !important;
}

.badge {
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

/* .card-quiz .card-header, .card-quiz .card-block{
  padding: 15px !important;
}
.card-quiz .card-header .body{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  display: -webkit-inline-box;
}
  .card-quiz .card-header .body p{
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 400;
  } */

.list-group .list-group-item, .list-group a.list-group-item{
  display: flex;
  border: 0;
  padding: 10px 15px;
  margin: 0;
  transition: all ease .3s;
  border-bottom: solid 1px #eee;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
}

.list-group{
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item :first-child{
  margin-right: 0 !important;
}

/* .quiz-result{
  margin-bottom: 0 !important;
}
  .quiz-result p{
    margin-bottom: 0 !important;
  } */
