.panel-shadow {
    box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0px 0px 8px #ccc;
}

.dq-logo-footer {
    max-height: 50px;
}

.dq-log {
    color: #ccc;
    font-size: 12px;
}

.mt-min-5 {
    margin-top: -5px !important;
}

.mt-min-10 {
    margin-top: -10px !important;
}

.mt-min-15 {
    margin-top: -15px !important;
}

.mt-min-20 {
    margin-top: -20px !important;
}

.mt-min-25 {
    margin-top: -25px !important;
}

.mt-min-30 {
    margin-top: -30px !important;
}

.va-middle {
    vertical-align: middle !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.padding-6 {
    padding: 6px !important;
}

.padding-8 {
    padding: 8px !important;
}

.padding-10 {
    padding: 10px !important;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.weight-600 {
    font-weight: 600 !important;
}


/*
.dirtygreen{
  background: #000;
}
*/

.dq-content {
    border: 1px solid #ccc !important;
}

.dq-grade {
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


/* .dq-navbar{
  width: 100%;
  position: relative;
  height: 50px;
  vertical-align: middle;
  background-color: #424242 !important;
  margin:0;
  padding:0;
}
.dq-discussion{
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
  .dq-discussion>tbody>tr>td{
    vertical-align: top !important;
  }
.dq-list-video{
  width: 100%;
  max-width: 100%;
  color: #333;
}
  .dq-list-video>tbody>tr>td{
    vertical-align: top !important;
    padding-left: 5px;
    padding-right: 5px;
  } */

.embed-responsive-16by9::before {
    padding-top: 49%;
}

.dq-form-group>input {}

.dq-form-group input[type=file] {
    opacity: 0;
    position: absolute;
    display: none;
}

.dq-form-group input[type=radio] {
    opacity: 0;
    position: absolute;
    display: none;
}

.dq-form-group>label {
    display: inline;
    width: 1%;
}

.dq-form-group .dq-image-form {
    width: auto;
    background: #ccc;
    border: 10px dashed #999;
    padding: 20px;
    transition: 0.3s;
    text-align: center;
}

.dq-form-group .dq-text-form {
    width: 100%;
    max-height: 50px;
    background: transparent;
    border: 2px solid #ccc;
    padding: 5px;
    transition: 0.3s;
}

.dq-form-group .dq-image-form:hover {
    box-shadow: 0 0 12px #ccc;
}

.dq-form-group .dq-text-form:hover {
    box-shadow: 0 0 12px #ccc;
}

.dq-form-group .dq-text-form:focus {
    border: 2px solid #03a9f4;
    box-shadow: 0 0 12px #ccc;
    background: #f9f9f9;
}


/* .dq-box-menu{
  padding: 5px;
  position: relative;
  border: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.3s;
  background: #000;
  line-height: 40px;
  color: #fff !important;
  opacity: 0.5;
  z-index: 993;
  float: left;
  display: block;
  cursor: pointer;
}
  .dq-box-menu:hover{
  box-shadow: 0 0 3px #333;
  color: #fff;
  opacity: 1;
  }
.dq-box-close{
  padding: 5px;
  position: relative;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  background: #000;
  line-height: 40px;
  color: #fff;
  z-index: 991;
  float: right;
  opacity: 0.5;
}
  .dq-box-close:hover{
  box-shadow: 3px 3px 3px #606060;
  color: #fff;
  opacity: 1;
  }

.dq-frame-arrow{
  margin-right: auto;
}

.dq-box-arrow{
  padding: 5px;
  position: relative;
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  background: #000;
  line-height:40px;
  color: #fff;
  float: left;
  z-index: 990;
  margin: 1px;
  opacity: 0.5;
}
  .dq-box-arrow:hover{
  color: #fff;
  box-shadow: 3px 3px 3px #606060;
  opacity: 1;
  }
.dq-box-discussion{
  padding: 5px;
  position: absolute;
  border: 1px solid #000;
  width: auto;
  height: 50px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  background: #000;
  line-height:40px;
  color: #fff;
  float: right;
  z-index: 993;
  top: auto;
  bottom: 7%;
  right: 190px;
  opacity: 0.5;
}
  .dq-box-discussion:hover{
  color: #fff;
  box-shadow: 3px 3px 3px #606060;
  opacity: 1;
  } */


/* ====================================
    NEW STYLES
==================================== */

body {
    overflow-x: hidden;
}


/* .bar_box *{
  background: rgba(36, 41, 48, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  padding: 1rem 1.2rem;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.5;
}
  .bar_box *:hover{
    background: rgba(36, 41, 48, 1);
    color: #fff;
  }

.direction_box{
  width: auto;
  position: relative;
  margin-right: auto;
  margin-left: 2rem;
  z-index: 999;
  line-height: 1.5;
}
  .direction_box .prev_btn, .direction_box .next_btn{
    background: rgba(36, 41, 48, 0.5);
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem 1.2rem;
    font-size: 14px;
  }
  .direction_box .prev_btn:hover, .direction_box .next_btn:hover{
    background: rgba(36, 41, 48, 1);
    color: #fff;
  }

.close_box{
  width: auto;
  background: rgba(36, 41, 48, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  padding: 1rem 1.2rem;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.5;
}
  .close_box:hover{
    background: rgba(36, 41, 48, 1);
    color: #fff;
  }

.video_frame{
  width: auto;
  height: auto;
  background: #000;
}
.video_embed{
  width: 100%;
  height: 100%;
  position: relative;
}
.video_embed iframe{
  height: 100% !important;
}
.video_embed .plyr .plyr__video-embed{
  padding-bottom:51.25%;
} */

.sidebar_header {
    width: 100%;
    background: #f3f3f3;
    display: flex;
}

.sidebar_header .sidebar_title {
    width: auto;
    color: #333;
}

@media (max-width: 1366px) {
    .embed-responsive-16by9::before {
        padding-top: 49.25%;
    }
}

@media (max-width: 1024px) {
    .embed-responsive-16by9::before {
        padding-top: 56.25%;
    }
    /* .video_embed {
        transform: translateY(55%);
    }
    .dq-box-discussion {
        padding: 5px;
        position: absolute;
        border: 1px solid #000;
        width: auto;
        height: 40px;
        font-size: 13px;
        text-align: center;
        transition: 0.3s;
        background: #000;
        line-height: 30px;
        color: #fff;
        float: left;
        z-index: 14;
        top: auto;
        bottom: 50px;
        right: auto;
    }
    .bar_box * {
        background: rgba(36, 41, 48, 0.3);
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        padding: 1rem 1.2rem;
        font-size: 14px;
        cursor: pointer;
    }
    .direction_box * {
        display: none;
    }
    .close_box {
        width: auto;
        background: rgba(36, 41, 48, 0.3);
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        padding: 1rem 1.2rem;
        font-size: 14px;
        cursor: pointer;
    }
    .navbar .bar_box,
    .navbar .direction_box,
    .navbar .close_box {
        display: block;
    } */
}


/* @media (max-width: 823px) {
  .embed-responsive-16by9::before{
    padding-top: 43%;
  }
  .video_embed{
    transform: translateY(0);
  }
}

@media (max-width: 813px) {
  .embed-responsive-16by9::before{
    padding-top: 39.5%;
  }
  .video_embed{
    transform: translateY(0);
  }
}

@media (max-width: 736px) {
  .embed-responsive-16by9::before{
    padding-top: 49%;
  }
  .video_embed{
    transform: translateY(0);
  }
}

@media (max-width: 667px) {
  .embed-responsive-16by9::before{
    padding-top: 48.5%;
  }
  .video_embed{
    transform: translateY(0);
  }
} */

@media (max-width: 639px) {
    /* .dq-box-discussion {
        padding: 5px;
        position: absolute;
        border: 1px solid #000;
        width: auto;
        height: 40px;
        font-size: 13px;
        text-align: center;
        transition: 0.3s;
        background: #000;
        line-height: 30px;
        color: #fff;
        float: left;
        z-index: 14;
        top: auto;
        bottom: 50px;
        right: auto;
    }
    .bar_box * {
        background: rgba(36, 41, 48, 0.3);
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        padding: 1rem 1.2rem;
        font-size: 14px;
        cursor: pointer;
    }
    .direction_box * {
        display: none;
    }
    .close_box {
        width: auto;
        background: rgba(36, 41, 48, 0.3);
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        padding: 1rem 1.2rem;
        font-size: 14px;
        cursor: pointer;
    }
    .navbar .bar_box,
    .navbar .direction_box,
    .navbar .close_box {
        display: block;
    }
    .video_frame {
        width: auto;
        height: auto;
        background: transparent;
    }
    .video_embed {
        width: 100%;
        height: 100%;
        line-height: inherit;
    } */
    .embed-responsive-16by9::before {
        padding-top: 56.25%;
    }
}


/* @media (max-width: 415px) and (max-height: 823px){
  .video_embed{
    transform: translateY(130%);
  }
}

@media (max-width: 415px) and (max-height: 736px){
  .video_embed{
    transform: translateY(100%);
  }
} */