.ms-slidebar .ms-slidebar-menu>li>a.link:after{content:none}
.ms-slidebar .ms-slidebar-menu>li>a:after{content:none}
.ms-collapse .card .card-header .card-title a.dq-none-rotation:after{
  transform: none;
  content:none;
}
.ms-navbar .btn-navbar-menu{
  position:relative;
}
.ms-navbar .navbar-header .navbar-brand{
  word-spacing:normal;
}
.navbar-brand a{
  color:white;
  background:transparent;
  padding:10px;
  transition:0.5s;
}
.navbar-brand a:hover{
  background:#000;
}
.ms-slidebar{
  width:500px;
  left:-500px;
}
.ms-collapse .card .card-block{border:0px;}
.dq-no-margin *{margin:0px;}
.dq-ml{margin-left: 15px;}
.dq-va{line-height: 50px;}
.dq-padding{padding:15px;}
.dq-padding.right{text-align: right;}
.dq-padding span{margin:0}
.dq-padding a{margin-left:10px;margin-right:10px;}
.dq-padding-comment{padding:1rem}
.dq-pl{padding-left: 15px;}
.dq-pr{padding-right:15px;}
.dq-top{margin-bottom: 0px;}
.dq-max *{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.dq-banner{
  max-height: 700px;
}
.dq-navbar.shrink, .dq-lead-navbar.shrink{
  background: #fff;
}
.dq-navbar.shrink .navbar-collapse .navbar-nav .nav-item>a, .dq-lead-navbar .navbar-collapse .navbar-nav .nav-item>a{
  color: #424242;
}
.dq-navbar .btn-navbar-menu, .dq-lead-navbar .btn-navbar-menu{
  color: #424242;
  position: relative;
}
.dq-navbar .btn-navbar-menu:hover, .dq-navbar .btn-navbar-menu:focus{
  color: #424242;
}
.dq-title-caption{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.dq-caption{
  width:100%;
  height:31%;
  text-align: center;
  margin-top:-18.5%;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
  color:#fff;
  padding: 1px;
  transition: 0.5s ease;
}
h4.dq-max-title{
  overflow: hidden;
  min-height: 20px;
  height: 44px;
  display: -webkit-box!important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  margin:0;
}
.dq-play-video{
  width: 100%;
  background: transparent;
  -webkit-transition: 0.5s ease;
  -webkit-opacity:0.6;
}
.dq-play-video:hover{
  background: #000;
  -webkit-opacity: 1;
}
.dq-play-video i{
  width:50px;
  height:50px;
  border:3px solid #fff;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: white;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  padding:inherit;
  background: #000;
  opacity: 0.7;
  box-shadow: 0 0 5px #333;
}
.dq-video-frame{
  background: black;
  width: auto;
  height: auto;
  /* padding-bottom: 20px; */
}
.dq-video{
  width: 100%;
  position: relative;
  height:100%;
}
.dq-video iframe{
  height: 100% !important;
}
.dq-video .plyr .plyr__video-embed{
  padding-bottom:51.25%;
}
.dq-image{width: 100%;height:150px;}
.dq-image-big{width: 100%;height:200px;}
.dq-image-user{max-width: 50px;max-height: 50px;border-radius: 100%;}
.dq-image-user-big{max-width: 100px;max-height: 100px;border-radius: 100%;}
.dq-btn-right{float: right;}
.dq-close{width:50px;float:right;}
.dq-status{width:25px;float:right;position: relative;}
.dq-section{width:50px;float:right;top:1.5rem;}
.dq-span-border{padding:10px;border:1px solid #03a9f4!important;}
.dq-no-border{border:0px;}
.dq-list-item{list-style: none;}
.dq-list{margin-left:15px;}
.dq-table td{vertical-align: middle;}
.dq-search-form{
  width:100%;
  height:50px;
  display: inline-block;
  position: relative;
  padding:0;
  margin:0;
}
.dq-search-form label{
  width:50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color:#000;
  padding:12px;
  cursor: pointer;
  position: absolute;
  vertical-align: middle;
  display: inline-block;
}
.dq-search-input{
  width:100%;
  height:50px;
  position:absolute;
  background: white;
  padding:15px;
  padding-left: 50px;
  border:1px solid #ccc;
}
@media (max-width:768px){
  html{
    margin:0;
    padding:0;
  }
  .dq-top{margin-bottom:0px;}
  .dq-close{
    width:50px;
    float:right;
  }
  .dq-title-hide{display: none;}
  .dq-max{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
  }
  .dq-image{width: 100%;height:200px;}
  .dq-image-big{width: 100%;height:300px;}
  .dq-table td{vertical-align: top;}
  .dq-padding.right{text-align: left;}
  .dq-padding{padding: 0px}
  .dq-pl{padding-left: 0px;}
  .dq-pr{padding-right: 0px;}
  .dq-ml{margin: 0px;}
  /*
  .dq-row{
    margin-right:0px;
  }
  .dq-card{
    position:absolute;
    display: block;
  }
  */
  .ms-title{
    font-size:12pt;
  }
  .ms-slidebar{
    width:100%;
    left: -100%;
  }
  .ms-slidebar .ms-slidebar-menu>li>a{
    content:none;
    font-size:14px;
  }
  .container-fluid{
    padding:0px;
  }
  .dq-video-frame{
    padding-bottom: 20px;
  }
  .dq-video{
    width: 100%;
    height: 100%;
    line-height: 200%;
  }
  .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  }
}
@media (max-width:1920px) and (max-height:979px){
  #sidebar{
    height: 975px !important;
  }
}
@media (max-width: 1366px){
  .dq-video .plyr .plyr__video-embed{
    padding-bottom:49.25%;
  }
  #sidebar{
    height: 672px !important;
  }
}
@media (max-width:768px) and (max-height:1024px){
  #sidebar{
    height: 1024px !important;
  }
}
@media (max-height: 360px){
  #sidebar{
    height: 360px !important;
  }
}
@media (min-height: 361px) and (max-height: 375px){
  #sidebar{
    height: 375px !important;
  }
}
@media (min-height: 376px) and (max-height: 414px){
  #sidebar{
    height: 414px !important;
  }
}
@media (max-width:360px) and (max-height:640px){
  .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  }
  #sidebar{
    height: 640px !important;
  }
}
@media (max-width:375px) and (min-height:641px) and (max-height:667px){
  .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  }
  #sidebar{
    height: 667px !important;
  }
}
@media (max-width:414px) and (min-height:668px) and (max-height:736px){
  .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  }
  #sidebar{
    height: 736px !important;
  }
}
@media (max-width:375px) and (min-height:737px) and (max-height:812px){
  .dq-video .plyr .plyr__video-embed{
    padding-bottom: 216.5%;
  }
  .dq-box-next{
    bottom: 23% !important;
  }
  .dq-box-discussion{
    bottom: 23% !important;
  }
  #sidebar{
    height: 812px !important;
  }
}
