/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    /* font-family: 'Poppins', sans-serif; */
    /* background: #fafafa; */
    background: #fcfcfc;
}

p {
    /* font-family: 'Poppins', sans-serif; */
    /* font-size: 1.1em; */
    /* color: #999; */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    color: #333;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: relative;
    width: 100%;
    height: auto;
    background: #424242;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: none !important;
    -webkit-transition: .3s ease ;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* .dq-list-section, .dq-title-section{
  display: none;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: #fcfcfc;
    color: #fff;
    transition: all 0.3s;
    margin-left: -350px;
    overflow-y: auto;
    height: 1093px;
    border-right: 0.5px solid #f3f3f3;
}

#sidebar.active {
    margin-left: 0px;
    position: sticky;
    top: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul p {
    color: #333;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    background: #f3f3f3;
}
#sidebar ul li a:hover {
    /* background: #ccc; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    /*color: #fff;*/
    background: #ececec;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 10px !important;
    background: #f9f9f9;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
    position: relative;
	  background: black;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 360px) {
    #sidebar {
        margin-left: -100%;
        min-width: 100%;
        max-width: 100%;
    }
    #sidebar.active {
        margin-left: 0;
        position: sticky;
        top: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    /* .dq-list-section{
      background: #f9f9f9;
      overflow-y: auto !important;
      height: 330px !important;
    } */
}
@media (min-width:361px) and (max-width: 375px) {
    #sidebar {
        margin-left: -87%;
        min-width: 87%;
        max-width: 87%;
    }
    #sidebar.active {
        margin-left: 0;
        position: sticky;
        top: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    /* .dq-list-section{
      background: #f9f9f9;
      overflow-y: auto !important;
      height: 350px !important;
    } */
}
@media (min-width:376px) and (max-width: 480px) {
    #sidebar {
        margin-left: -88%;
        min-width: 88%;
        max-width: 88%;
    }
    #sidebar.active {
        margin-left: 0;
        position: sticky;
        top: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    /* .dq-list-section{
      background: #f9f9f9;
      overflow-y: auto !important;
      height: 400px !important;
    } */
}
@media (max-width: 1024px){
  .navbar, .navbar:hover{
    background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0));
  }
}
@media (max-width: 639px) {
	#content{
		background: none;
	}
  #sidebar {
      margin-left: -100%;
      min-width: 100%;
      max-width: 100%;
  }
  #sidebar.active {
      margin-left: 0;
      position: sticky;
      top: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
  .navbar{
    position: fixed;
  }
  /* .dq-title-section{
    background: #f3f3f3;
    width: 100%;
    overflow: hidden;
    min-height: 20px;
    height: 74px;
    display: -webkit-box!important;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    margin:0;
  }
    .dq-title-section p{
      color: #424242;
    }
  .dq-list-section{
    display: block !important;
  } */
}


/* =================================================
          SIDEBAR MEDIA QUERY
================================================= */
@media (max-width:1920px) and (max-height:979px){
  #sidebar{
    height: 975px !important;
  }
}
@media (max-width: 1366px){
  /* .dq-video .plyr .plyr__video-embed{
    padding-bottom:49.25%;
  } */
  #sidebar{
    height: 672px !important;
  }
}
@media (max-width:768px) and (max-height:1024px){
  #sidebar{
    height: 1024px !important;
  }
}
@media (max-height: 360px){
  #sidebar{
    height: 360px !important;
  }
}
@media (min-height: 361px) and (max-height: 375px){
  #sidebar{
    height: 375px !important;
  }
}
@media (min-height: 376px) and (max-height: 414px){
  #sidebar{
    height: 414px !important;
  }
}
@media (max-width:360px) and (max-height:640px){
  /* .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  } */
  #sidebar{
    height: 640px !important;
  }
}
@media (max-width:375px) and (min-height:641px) and (max-height:667px){
  /* .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  } */
  #sidebar{
    height: 667px !important;
  }
}
@media (max-width:414px) and (min-height:668px) and (max-height:736px){
  /* .dq-video .plyr .plyr__video-embed{
    padding-bottom: 178%;
  } */
  #sidebar{
    height: 736px !important;
  }
}
@media (max-width:375px) and (min-height:737px) and (max-height:812px){
  /* .dq-video .plyr .plyr__video-embed{
    padding-bottom: 216.5%;
  }
  .dq-box-next{
    bottom: 23% !important;
  }
  .dq-box-discussion{
    bottom: 23% !important;
  } */
  #sidebar{
    height: 812px !important;
  }
}
