.ms-slidebar .ms-slidebar-menu>li>a.link:after{content:none}
.ms-slidebar .ms-slidebar-menu>li>a:after{content:none}
.ms-collapse .card .card-header .card-title a.dq-none-rotation:after{
  transform: none;
  content:none;
}
.ms-navbar .btn-navbar-menu{
  position:relative;
}
.ms-navbar .navbar-header .navbar-brand{
  word-spacing:normal;
}
.navbar-brand a{
  color:white;
  background:transparent;
  padding:10px;
  transition:0.5s;
}
.navbar-brand a:hover{
  background:#000;
}
.navbar .dropdown-menu li>a{
  padding: 0.5rem 1rem !important;
  font-size: 14px;
}
.ms-navbar .navbar-collapse .navbar-nav .nav-item>a{
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.ms-navbar.navbar-mode .btn-navbar-menu{
  display: none;
}
.ms-slidebar{
  width:500px;
  left:-500px;
}
.ms-collapse .card .card-block{border:0px;}
.ms-navbar{
  height: 75px;
  box-shadow: none;
}
  .ms-navbar .navbar-brand img{
    width: auto; /* Default 75% */
  }
.ms-navbar .navbar-collapse, .ms-lead-navbar .navbar-collapse{
  height: 75px;
}
.ms-navbar-white .navbar-collapse .navbar-nav .nav-item>a, .ms-header-white+.ms-navbar-dark .navbar-collapse .navbar-nav .nav-item>a{
  /* text-transform: uppercase; */
}
.bd-scroll .ms-navbar{
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
.bd-scroll .ms-navbar-white{
  background: #fff;
}

/* ======================================================== */

.dq-no-margin *{margin:0px;}
.dq-ml{margin-left: 15px;}
.dq-va{line-height: 50px;}
.dq-padding{padding:15px;}
.dq-padding.right{text-align: right;}
.dq-padding span{margin:0}
.dq-padding a{margin-left:10px;margin-right:10px;}
.dq-padding-comment{padding:1rem}
.dq-pl{padding-left: 15px;}
.dq-pr{padding-right:15px;}
.dq-top{margin-bottom: 0px;}
.dq-max *{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.dq-title-caption{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.dq-title-caption-20{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #03a9f4 !important;
}
*.dq-max-title{
  overflow: hidden;
  min-height: 20px;
  height: 44px;
  display: -webkit-box!important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  margin:0;
}
*.dq-max-subtitle{
  overflow: hidden;
  /* min-height: 26px;
  height: auto; */
  height: 26px;
  display: -webkit-box!important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: normal;
  max-width: 100%;
  margin:0;
}
.dq-video{
  width:inherit;
  position: relative;
  max-height:100%;
}
.dq-video .plyr .plyr__video-embed{
  padding-bottom:49%;
}
.dq-image{width: 100%;height:150px;}
.dq-image-big{width: 100%;height:150px;}
.dq-image-user{max-width: 50px;max-height: 50px;border-radius: 100%;}
.dq-image-user-big{max-width: 100px;max-height: 100px;border-radius: 100%;}
.dq-btn-right{float: right;}
.dq-close{width:50px;float:right;}
.dq-status{width:25px;float:right;position: relative;}
.dq-section{width:50px;float:right;top:1.5rem;}
.dq-span-border {
  color: #03a9f4;
  padding:10px;
  border:1px solid #03a9f4;
}
.dq-no-border{border:0px;}
.dq-list-item{list-style: none;}
.dq-list{margin-left:15px;}
.dq-table td{vertical-align: middle;}
.dq-search-form{
  width:100%;
  height:50px;
  display: inline-block;
  position: relative;
  padding:0;
  margin:0;
}
.dq-search-form label{
  width:50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color:#000;
  padding:12px;
  cursor: pointer;
  position: absolute;
  vertical-align: middle;
  display: inline-block;
}
.dq-search-input{
  width:100%;
  height:50px;
  position:absolute;
  background: white;
  padding:15px;
  padding-left: 50px;
  border:1px solid #ccc;
}
.dq-frame-square{
  width: 253px;
  height: 144px;
  object-fit: cover !important;
}
.dq-frame-round-xs{
  width: 50px;
  height: 50px;
  object-fit: cover !important;
  border-radius: 50%;
  padding: 0.25rem;
  border: 2px solid #ccc;
}
.dq-frame-round-sm{
  width: 70px;
  height: 70px;
  object-fit: cover !important;
  border-radius: 50%;
  padding: 0.25rem;
  border: 2px solid #ccc;
}
.dq-frame-round-md{
  width: 120px;
  height: 120px;
  object-fit: cover !important;
  border-radius: 50%;
  padding: 0.25rem;
  border: 2px solid #ccc;
}

/* ========================================================== */


@media (max-width:768px){
  html{
    margin:0;
    padding:0;
  }
  .ms-navbar.navbar-mode .btn-navbar-menu{
    display: block;
  }
  .dq-top{margin-bottom:0px;}
  .dq-close{
    width:50px;
    float:right;
  }
  .dq-title-hide{display: none;}
  .dq-max{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
  }
  .dq-image{width: 100%;height:auto;}
  .dq-image-big{width: 100%;height:190px;}
  .dq-table td{vertical-align: top;}
  .dq-padding.right{text-align: left;}
  .dq-padding{padding: 0px}
  .dq-pl{padding-left: 0px;}
  .dq-pr{padding-right: 0px;}
  .dq-ml{margin: 0px;}

  .dq-frame-square{
    width: 100%;
    height: auto;
    object-fit: cover !important;
  }

  /*
  .dq-row{
    margin-right:0px;
  }
  .dq-card{
    position:absolute;
    display: block;
  }
  */
  .ms-title{
    font-size:12pt;
  }
  .ms-slidebar{
    width:85%;
    left: -85%;
  }
  .ms-slidebar .ms-slidebar-menu>li>a{
    content:none;
    font-size:14px;
  }
  .container-fluid{
    padding:0px;
  }
}
