/* @font-face {
    font-family: 'FontAwesome';
    src: url('https://fontawesome.com/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://fontawesome.com/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://fontawesome.com/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://fontawesome.com/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://fontawesome.com/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://fontawesome.com/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

body {
    color: #333;
}

.w-200 {
    max-width: 200px;
}

.w-250 {
    max-width: 250px;
}

.w-300 {
    max-width: 300px;
}

.w-400 {
    max-width: 400px;
}

.w-500 {
    max-width: 500px;
}

.w-800 {
    max-width: 800px;
}

.w-1000 {
    max-width: 1000px;
}

.w-1440 {
    max-width: 1440px;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fw-300 {
    font-weight: 300 !important
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.radius-0 {
    border-radius: 0px !important;
}

.footer-link {
    text-decoration: none;
    color: #fff !important
}

.footer-link:hover {
    text-decoration: underline;
}

.divider {
    width: 100%;
    height: 3px;
    margin: 2rem 0;
}

.divider-dark {
    background: #333;
}

.divider-white {
    background: #fff;
}

.divider-gradient {
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 100%);
}

.divider-gradient-negative {
    background: linear-gradient(90deg, #2b51a2 0%, #4ca3d9 100%);
}


/* ========================================================================== */

h4.headline-xs {
    height: 40px;
}

.headline-xs {
    font-size: 16px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 500 !important;
}

.headline-sm {
    font-size: 26px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-md {
    font-size: 30px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-xs span,
.headline-sm span,
.headline-md span,
.headline-lg span {
    font-weight: 700;
}

.bg-head .headline-md {
    font-size: 30px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-lg {
    font-size: 40px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.headline-line {
    margin-bottom: 30px;
}

.headline-line:after {
    position: absolute;
    content: '';
    top: 80%;
    left: 18px;
    width: 75px;
    height: 3px;
    background: #4ca3d9;
}

.headline-line-center {
    margin-bottom: 60px;
}

.headline-line-center:after {
    position: absolute;
    content: '';
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 75px;
    height: 3px;
}

.color-dark.headline-line:after,
.color-dark.headline-line-center:after {
    background: #4ca3d9;
}

.color-white.headline-line:after,
.color-white.headline-line-center:after {
    background: #fff;
}


/* ========================================================================== */

.section-body-xs {
    font-size: 14px;
    /* color: #424242; */
    margin-bottom: 5px;
    font-weight: 400 !important;
}

.section-body-xs * {
    color: #777;
}

.section-body {
    font-size: 18px;
    color: #424242;
    margin-bottom: 5px;
    font-weight: 300 !important;
}

.section-footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-footer span {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-right: 0.5rem;
}

.section-footer.price {
    padding: 0px !important;
    border-top: 1px solid #ccc;
    font-size: 16px;
}


/* ========================================================================== */

.responsip div {
    padding: 0.25rem;
}

.responsip img {
    width: 100%;
}

.feature-icon {
    text-align: center !important;
    font-size: 5rem;
}

.course-live {
    width: 72px;
    height: 30px;
    position: absolute !important;
    z-index: 12;
    margin: 10px 0 0 10px;
}

.mobile-download {
    overflow: hidden;
    height: 300px;
    position: relative;
    margin-top: -22.5%;
}

ul.breadcrumb {
    list-style: none;
    padding: 1rem 0;
    background-color: transparent;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ========================================================================== */

.card-sm {
    border-radius: 0 0 5px 5px;
    background: #f9f9f9;
    border: 1px solid #f5f5f5;
    /* transition: all 0.3s; */
    /* box-shadow: 1px 1px 8px #ccc; */
}

.card-sm .card-block {
    padding: 1rem;
}

.card-sm:hover {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.card-sm .code-class {
    display: none;
    position: absolute;
    width: 89%;
    background: #f6f6f6;
    border: 1px solid #f3f3f3;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    z-index: 1002;
}

.card-sm:hover .code-class {
    display: block;
}

.card-md {
    background: #f9f9f9;
    transition: all 0.3s;
    border: 1px solid #f5f5f5;
}

.card-md .card-block {
    padding: 2rem;
}

.card-category {
    border-radius: 0 0 5px 5px;
    background: #f9f9f9;
    transition: all 0.3s;
    border: 1px solid #f5f5f5;
    margin-bottom: 1rem;
    font-size: 12px;
}

.card-category .card-block {
    padding: 2rem;
}

.card-panel {
    border-radius: 0 0 5px 5px;
    background: #f9f9f9;
    transition: all 0.3s;
    border: 1px solid #f5f5f5;
    box-shadow: none;
    margin-bottom: 1rem !important;
}

.card-panel .card-block {
    padding: 2rem;
}

.card-panel:hover {
    /* box-shadow: 1px 10px 5px #ccc; */
    box-shadow: 5px 5px 5px #e9e9e9;
}

.col-categories {
    position: relative;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-features {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-features .row {
    margin-bottom: 2rem;
}

.categories,
.features {
    width: 100%;
    padding: 2rem 4rem;
    margin-top: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px #c3c3c3;
    transition: 0.3s;
}

.categories a,
.features a {
    width: auto;
    color: #333;
    font-size: 18px;
    font-weight: 300;
}

.categories:hover {
    box-shadow: 1px 10px 10px #ccc;
    /* box-shadow: 1px 1px 8px #999; */
}


/* ========================================================================== */

.form-kode-akses {
    width: 100%;
    height: auto;
    font-size: 18px;
    background: #fff;
    padding: 2rem 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-kode-akses:focus {
    border: 1px solid #03a9f4;
}

.navbar-left {
    display: inline-flex;
    margin-left: 0;
    margin-right: auto;
}

.nav-item.nav-item-search {
    display: flex;
    width: 300px;
    padding: 1.5rem 0;
    margin: 0 2rem;
}

.nav-item.nav-item-search .icon-nav-search:before {
    content: "\f002";
}

.nav-item.nav-item-search .icon-nav-search {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    color: #333;
    top: -80%;
    left: 5%;
}

.nav-item.nav-item-search .form-nav-search {
    width: 300px;
    height: auto;
    font-size: 14px;
    background: #f3f3f3;
    padding: 1rem 2rem 1rem 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.nav-item.nav-item-search .form-nav-search:focus {
    border: 1px solid #03a9f4;
    background-color: #f9f9f9;
}

.button-kode-akses {
    position: relative;
    transform: translateY(-100%);
    margin-bottom: -5%;
    width: auto;
    height: auto;
    font-size: 20px;
    /* background: #03a9f4; */
    border: 1px solid #fff;
    color: #fff;
    padding: 2rem 3rem;
    float: right;
    transition: right .8s ease-out;
    border-radius: 0 5px 5px 0;
}

.btn-arrow-down {
    transform: translateY(50%);
}

.btn-see-all:before {
    /* content: "Lihat Semua" */
    content: ""
}

.btn-see-all {
    padding: 0.5rem 1rem;
    border: 2px solid #4ca3d9;
    border-radius: 5px;
    color: #4ca3d9;
    transition: 0.5s;
}

.btn-see-all:hover {
    color: #fff;
    border: 2px solid #4ca3d9;
    /* background: #4ca3d9; */
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 100%);
}

.btn-p {
    background: linear-gradient(90deg, #2b51a2 0%, #4ca3d9 100%);
}

.btn-p:hover {
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 100%);
}

.btn-border {
    padding: 1rem 3rem;
    border: 2px solid #4ca3d9;
    border-radius: 5px;
    color: #fff !important;
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 100%);
    transition: 0.5s;
}

.btn-border:hover {
    color: #4ca3d9 !important;
    border: 2px solid #4ca3d9;
    background: transparent;
}

.btn-more {
    background: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .95), #fff);
    display: block;
    position: relative;
    transform: translateY(-50px);
    padding-top: 50px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    display: none;
    /* box-shadow: 0px -20px 20px #ccc; */
}

a.btn-more.show:hover {
    text-decoration: underline;
}

.btn-more.show {
    display: block;
}

.btn-play i:before {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    padding: 1rem;
    background: #333;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-play i:hover:before {
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 100%) !important;
}

.btn-social {
    width: 100%;
    display: block;
    padding: 1rem 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.btn-social.facebook {
    background: #3b5998;
    color: #fff;
}

.btn-social.google {
    background: #dd5347;
    color: #fff;
}

.btn-opsi {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid #4ca3d9;
    color: #333;
    position: relative;
    float: right;
    margin-bottom: -15%;
    cursor: pointer;
    z-index: 1001;
}

.btn-opsi i {
    color: #333;
}

.btn-opsi .dropdown-menu {
    font-size: 1.4rem !important;
}

.btn-opsi-preview button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid #4ca3d9;
    color: #333;
    position: relative;
    float: right;
    cursor: pointer;
}

.btn-opsi-preview i {
    color: #333;
}

.btn-opsi-preview .dropdown-menu {
    font-size: 1.4rem !important;
}


/* .btn-opsi-dropdown{
    position: relative;
    width: auto;
    left: 0;
    margin-bottom: -100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1.4rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  .btn-opsi-dropdown a{
    width: 100%;
    display: block;
    color: #333;
    padding: 0.5rem 1rem !important;
  }
    .btn-opsi-dropdown a:hover{
      background: #4ca3d9;
      color: #fff;
    } */


/* ========================================================================== */

.bg-head {
    background-image: url("../img/foto/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5rem 0;
    height: 100vh;
    width: 100%;
    display: inline-flex;
    position: relative;
}

.bg-head .container {
    transform: translate(-50%, -40%);
    position: absolute;
    top: 40%;
    left: 50%;
}


/* .bg-head h2, h3, p{
    text-shadow: 0px 1px 20px #9c9c9c;
  } */

.bg-head h2,
.bg-head h3 {
    text-align: center;
    margin: 0;
}

.bg-head h2 {
    font-size: 80px;
    font-weight: 100;
    color: #fff;
}

.bg-head h3 {
    font-size: 20px;
    color: #4ca3d9;
    font-weight: 900;
    letter-spacing: 6px;
}

.bg-head span {
    font-weight: 700;
    text-shadow: none;
}

.bg-head p {
    font-size: 20px;
    /* color: #ccc; */
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}

.bg-header {
    background: linear-gradient(150deg, #2b51a2 0%, #4ca3d9 75%);
    width: 100%;
    padding: 5rem;
    display: inline-flex;
}

.bg-header .text {
    width: 70%;
    align-self: center !important;
}

.bg-header .text a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.bg-header .text a:hover {
    text-decoration: underline;
}

.bg-header .text .header-link .btn-header {
    background: #fccf4f;
    padding: 1rem 7.5rem;
    /* border: 2px solid #4ca3d9; */
    border-radius: 7px;
    /* color: #4ca3d9 !important; */
    color: #333 !important;
    transition: 0.2s;
    text-decoration: none !important;
    text-transform: none !important;
    white-space: nowrap;
    align-self: center;
    cursor: pointer;
    line-height: 1.5;
    display: inline-block;
}

.bg-header .text .header-link .btn-header:hover {
    /* background: #4ca3d9; */
    background: #e8bf4a;
}

.bg-header .text .header-link .btn-header-link {
    color: #fccf4f !important;
    text-decoration: underline;
    transition: 0.2s;
}

.bg-header .text .header-link .btn-header-link:hover {
    color: #fff !important;
}

.bg-header .text .header-link span {
    font-weight: 400;
}

.bg-header .text .header-link .btn-header,
.bg-header .text .header-link span {
    margin-right: 0.5rem;
}

.bg-header .image {
    width: 30%;
}

.bg-header .image img {
    width: 100%;
}

.bg-header h2,
.bg-header h3 {
    text-align: left;
    margin: 0;
}

.bg-header h2 {
    font-size: 65px;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}

.bg-header h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0px;
}

.bg-header span {
    font-weight: 700;
    text-shadow: none;
}

.bg-header p {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
}

.bg-category {
    background-image: url("../img/ingenio/img1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding: 5rem 0;
    width: 100%;
    display: inline-flex;
    position: relative;
}


/* .bg-category:before{
    width: 105%;
    height: 70px;
    background: #fff;
    content: " ";
    position: absolute;
    z-index: 9;
    top: 93%;
    left: -10px;
    transform: rotate(1.5deg);
  } */

.bg-gradient {
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 50%);
}

.bg-gradient-negative {
    background: linear-gradient(90deg, #2b51a2 0%, #4ca3d9 50%);
}

.bg-page-title {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: linear-gradient(90deg, #4ca3d9 0%, #2b51a2 50%);
}

.bg-page-title h2 {
    color: #fff;
}

.bg-page-title-negative {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background: linear-gradient(90deg, #2b51a2 0%, #4ca3d9 50%);
}

.bg-page-title-negative h2 {
    color: #fff;
}

.overlay:before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    margin-top: -50px;
}

.overlay {
    position: relative;
}

.overlay-category:before {
    position: absolute;
    background-color: rgba(245, 245, 245, 0.6);
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    margin-top: -50px;
}

.overlay-category {
    position: relative;
}


/* .responsip div{
  padding: 0.25rem;
}
.responsip img{
  width: 100%;
} */


/* ========================================================================== */

.slick-prev:before,
.slick-next:before {
    color: #e3e3e3;
    font-size: 50px;
    transition: all 0.2s;
}

.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #333 !important;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    display: none;
}

@media (max-width: 1920px) {
    .form-search-nav {
        width: 150%;
    }
}

@media (max-width: 1366px) {
    .bg-head {
        height: 80vh;
    }
    .bg-head .container {
        transform: translate(-50%, -40%);
        position: absolute;
        top: 40%;
        left: 50%;
    }
    .overlay:before {
        height: 80vh;
    }
    .bg-header {
        padding: 3rem;
    }
    .bg-header .text {
        width: 70%;
        /* margin-top: 7%; */
        align-self: center !important;
    }
    .bg-header .image {
        width: 30%;
    }
    .bg-header .image img {
        width: 100%;
    }
    .bg-header h2,
    .bg-header h3 {
        text-align: left;
        margin: 0;
    }
    .bg-header h2 {
        font-size: 70px;
        font-weight: 100;
        color: #fff;
    }
    .bg-header h3 {
        font-size: 20px;
        color: #4ca3d9;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .bg-header span {
        font-weight: 700;
        text-shadow: none;
    }
    .bg-header p {
        font-size: 20px;
        color: #fff;
        font-weight: 300;
        text-align: left;
        letter-spacing: 0px;
    }
    .btn-arrow-down {
        transform: translateY(100%);
    }
}

@media (max-width:1024px) {
    .programClass {
        height: 380px;
    }
}

@media (max-width:768px) {
    .bg-head,
    .overlay:before {
        height: 90vh;
    }
    .bg-head h2,
    .bg-head h3 {
        text-align: center;
        margin: 0;
    }
    .bg-head h2 {
        font-size: 40px;
        font-weight: 100;
        color: #fff;
    }
    .bg-head h3 {
        font-size: 20px;
        color: #4ca3d9;
        font-weight: 900;
        letter-spacing: 6px;
    }
    .bg-head span {
        font-weight: 700;
        text-shadow: none;
    }
    .bg-head p {
        font-size: 16px;
        /* color: #ccc; */
        color: #fff;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
    }
    .bg-header {
        padding: 3rem 0.5rem;
        display: block;
    }
    .bg-header .text {
        width: 100%;
        margin-top: 3%;
    }
    .bg-header .text a {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }
    .bg-header .text a:hover {
        text-decoration: underline;
    }
    .bg-header .text .header-link .btn-header {
        background: #fccf4f;
        border-radius: 7px;
        color: #333 !important;
        transition: 0.2s;
        text-decoration: none !important;
        text-transform: none !important;
        white-space: nowrap;
        align-self: center;
        cursor: pointer;
        line-height: 1.5;
        display: inline-block;
        font-weight: 500;
    }
    .bg-header .text .header-link .btn-header:hover {
        background: #e8bf4a;
    }
    .bg-header .text .header-link .btn-header-link {
        color: #fccf4f !important;
        text-decoration: underline;
        transition: 0.2s;
        font-weight: 500;
    }
    .bg-header .text .header-link .btn-header-link:hover {
        color: #fff !important;
    }
    .bg-header .text .header-link span {
        font-weight: 400;
    }
    .bg-header .text .header-link .btn-header,
    .bg-header .text .header-link span,
    .bg-header .text .header-link .btn-header-link {
        width: 100%;
        text-align: center;
        display: block;
    }
    .bg-header .headerFade {
        display: none;
    }
    .bg-header h2,
    .bg-header h3 {
        text-align: left;
        margin: 0;
    }
    .bg-header h2 {
        font-size: 50px;
        font-weight: 100;
        color: #fff;
    }
    .bg-header h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .bg-header span {
        font-weight: 700;
        text-shadow: none;
    }
    .bg-header p {
        font-size: 20px;
        color: #fff;
        font-weight: 300;
        text-align: left;
        letter-spacing: 0px;
    }
    /*
  .slick-prev:before,.slick-next:before{
    display: none;
  }
  .slick-prev,.slick-next{
    display: none;
  } */
    /* ========================================================================== */
    .img-phone img {
        display: none;
    }
    .img-play p {
        font-size: 30px !important;
        margin-top: -120px !important;
    }
    /* ========================================================================== */
    .col-categories,
    .col-features {
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-features .row {
        margin-bottom: 0rem;
    }
    .categories,
    .features {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        background: #fff;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 8px #c3c3c3;
        transition: 0.3s;
    }
    .categories a,
    .features p {
        font-size: 12px;
    }
    .card-sm .code-class {
        display: block;
        width: 100%;
        position: relative;
        box-shadow: none;
    }
    .card-list {
        width: 100%;
        display: inline-flex;
        padding: 2rem 0rem;
        transition: 0.2s;
        border-bottom: 1px solid #e3e3e3;
    }
    .card-list img {
        width: 30%;
        height: 100%;
        margin-right: 1;
    }
    /* .card-list .mobile{
      display: inline-block;
      width: 100%;
    } */
    .card-list .d-0 {
        display: none;
    }
    .card-list .description {
        width: 100%;
        margin-left: 0;
    }
    .card-list .option-mobile {
        display: inline-flex;
        width: 100%;
        padding-left: 0;
        font-size: 14px;
        font-weight: 500;
        color: #424242;
    }
    .card-list .option-mobile p {
        margin-right: 1rem;
        margin-bottom: 0;
    }
    /* ========================================================================== */
    .form-mobile {
        position: relative;
        width: 100%;
        padding: 2rem 1rem;
        background: #fff;
    }
    .icon-nav-search:before {
        content: "\f002";
    }
    .icon-nav-search {
        display: block;
        background: transparent;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        padding: 1rem;
        border-left: 1px solid #ccc;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
        border-radius: 0 5px 5px 0;
        color: #333;
        top: 2.4rem;
        left: 82.5%;
    }
    .form-nav-search {
        width: 100%;
        height: auto;
        font-size: 14px;
        background: #f3f3f3;
        padding: 1rem 5rem 1rem 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
    }
    .form-nav-search:focus {
        border: 1px solid #03a9f4;
        background-color: #f9f9f9;
    }
    .btn-arrow-down {
        transform: translateY(0%);
    }
    .btn-see-all:before {
        content: "\f105";
    }
    .btn-see-all {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: -90px;
        left: 90%;
    }
    .btn-play {
        display: none;
    }
    /* ========================================================================== */
    .section-footer {
        width: 100%;
        padding: 0;
        margin: 0;
        border-top: 1px solid #ccc;
    }
    .section-footer span {
        font-size: 12px;
        width: 100%;
        display: inline-block;
        color: #777;
        text-align: left;
        margin-right: 0rem;
    }
    .section-footer.price {
        padding: 0px !important;
        border-top: 1px solid #ccc;
        font-size: 16px;
    }
    /* ========================================================================== */
    .feature-icon {
        text-align: left !important;
    }
    .feature-content {
        font-size: 12px;
    }
    .mobile-download {
        display: none;
    }
}

@media (max-width: 360px) {
    .icon-nav-search {
        left: 83%;
    }
}

@media (max-width: 320px) {
    .icon-nav-search {
        left: 80%;
    }
}
