/* Ingenio Icons */

.ingenio {
    display: inline-block;
}

.ingenio-icon-group {
    background: url('/img/icons/ingenio-icon-group.png') no-repeat top left;
    background-size: contain;
}

.ingenio-icon-detail {
    background: url('/img/icons/ingenio-icon-detail.png') no-repeat top left;
    background-size: contain;
}

/* End Ingenio Icons */